{% extends 'global/base.html' %}

{% block content %}

    <H2>Criar Contato</H2>

    <form action="{% url 'contact:create' %}" method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}

        <div class="form-content">

            {%for field in form%}

                <div class="form-group">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{ field }}
                    {{ field.errors }}

                    {% if field.help_text %}
                        <p class="help-text">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {%endfor%}

        </div>

        {% if form.non_field_errors %}
            <div class="form-content">
                <div class="form-group">
                   {{ form.non_field_errors }}
                </div>
            </div>
        {% endif %}

        <div class="form-content">
            <div class="d-flex">
                <button class="btn btn-primary mr-2" type="submit">Salvar</button>
                <button type="button" class="btn btn-danger" onclick="confirmCancel()">Cancelar</button>  
            </div>
        </div>

        <script>
            function confirmCancel() {
                if (confirm("Você realmente quer cancelar? Todas as mudanças serão perdidas.")) {
                    window.location.href = "{% url 'contact:index' %}"; 
                }
            }
        </script>

    </form>
    
{% endblock content%}